.ui {
  display: flex;
  justify-content: center;
  align-items: stretch;  
}
.ui select,
.ui button {
  min-width: 3em;
  min-height: 2em;
  margin-right: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui .select {
  align-items: stretch;
}
.ui button img {
  filter: none;
  width: 1.5em;
  height: 1.5em;
  display: block;
}
